<%= turbo_stream.update "entry_modal" do %>
  <div id="entry_modal" class="hidden"></div>
<% end %>

<%= turbo_stream.update "flash-message", partial: 'shared/flash' %>

<%= turbo_stream.update 'calendar', partial: "calendars/calendar_show", locals: { calendar: entry.calendar } %>

<% if entry.previous_entry %>
  <%= turbo_stream.after "entry_#{entry.previous_entry.id}", entry  %>
<% else %>
  <%= turbo_stream.prepend "entries_list", entry %>
<% end %>
