<%= turbo_stream.update "entry_modal" do %>
  <div id="entry_modal" class="hidden"></div>
<% end %>

<%= turbo_stream.update "flash-message" do %>
  <%= render "shared/flash" %>
<% end %>

<%= turbo_stream.update 'calendar' do %>
  <%= render 'calendars/calendar', calendar: entry.calendar %>
<% end %>

<%= turbo_stream.replace "entry_#{entry.registration_date}" do %>
  <%= render partial: 'entries/entries',
                 collection: entry.entries_on_same_date,
                 as: :entry %>
<% end %>
