<%= month_calendar(events: calendar.entries, attribute: :registration_date) do |date, entries| %>
  <div class="relative w-full h-full">
    <div class="absolute top-1 left-1 text-sm text-gray-500">
      <%= date.day %>
    </div>

    <% if (entry = entries.find { |e| e.user == User.last }) %>
      <%= link_to '編集', edit_entry_path(entry, registration_date: date),
                  class: 'absolute text-blue-500 top-1 right-1 text-base',
                  data: { turbo_frame: 'entry_modal' } %>
    <% else %>
      <%= link_to '+', new_calendar_entry_path(calendar, registration_date: date),
                  class: 'absolute text-blue-500 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-2xl',
                  data: { turbo_frame: 'entry_modal' } %>
    <% end %>

    <% entries.each do |entry| %>
      <% if entry.user.avatar_url.attached? %>
        <%= image_tag entry.user.avatar_url.variant(resize_to_limit: [40, 40]),
                      class: 'w-8 h-8 rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2' %>
      <% end %>
    <% end %>
  </div>
<% end %>
