<%= month_calendar(events: calendar.entries, attribute: :registration_date) do |date, entries| %>
  <div class="relative w-full h-full">
    <div class="absolute top-1 left-1 text-sm text-gray-500 text-center">
      <%= date.day %>
      <div class="<%= class_names(
                        'sm:hidden',
                        hidden: index_action?
                      ) %>">
        <%= t('date.abbr_day_names')[date.wday] %>
      </div>
    </div>

    <% if !index_action? && (entry = entries.find { |e| e.user == current_user }) %>
      <%= link_to '編集', edit_entry_path(entry, registration_date: date),
                  class: 'absolute text-blue-500 top-1 right-1 text-base',
                  data: { turbo_frame: 'entry_modal' } %>
    <% elsif !index_action? %>
      <%= link_to '+', new_calendar_entry_path(calendar, registration_date: date),
                  class: class_names(
                    'absolute text-blue-500', {
                      'top-1 right-1 text-base' => calendar.entry_on?(date),
                      'top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-2xl' => !calendar.entry_on?(date)
                    }
                  ),
                  data: { turbo_frame: 'entry_modal', test: date.to_s } %>
    <% end %>

    <div class="h-full w-full flex items-end p-1">
      <% entries.each do |entry| %>
        <% if entry.user.avatar_url.present? %>
          <%= image_tag(entry.user.avatar_url,
                        style: "max-width: #{100 / [entries.size, 1].max}%;",
                        class: 'rounded-full mx-auto object-contain max-h-[70%]') %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
