<%= month_calendar(events: calendar.entries, attribute: :registration_date) do |date, entries| %>
  <div class="relative w-full h-full">
    <div class="absolute top-1 left-1 text-sm text-gray-500">
      <%= date.day %>
    </div>

    <%= link_to '+', new_calendar_entry_path(calendar, registration_date: date),
                class: class_names(
                  'absolute text-blue-500',
                  'top-1 right-1 text-base' => calendar.entry_on?(date),
                  'top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-2xl' => !calendar.entry_on?(date)
                ),
                data: { turbo_frame: 'entry_modal' } %>

    <div class="<%= class_names(
      'absolute top-3/4 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center',
      '-space-x-2' => entries.size >= 3
    ) %>">
      <% entries.each do |entry| %>
        <% if entry.user.avatar_url.present? %>
          <%= image_tag("#{request.base_url}#{entry.user.avatar_url}",
            class: 'w-8 h-8 rounded-full') %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
