<div class="container mx-auto px-5 bg-gray-200" data-controller="entry-modal">
  <% if current_user.admin? %>
    <div class="flex justify-end">
      <%= link_to '編集', edit_calendar_path(@calendar), class: 'bg-blue-500 text-white px-4 py-2' %>
    </div>
  <% end %>

  <div class="bg-gray-400 p-2 mb-4">
    <h1 class="text-3xl font-bold"><%= @calendar.title %></h1>
  </div>

  <div class="prose bg-white mx-auto max-w-full p-2">
      <%= markdown_to_html(@calendar.description) %>
  </div>

  <div class="bg-gray-400">
    <%= turbo_frame_tag 'entry_modal' %>
    <div id="calendar">
      <%= render 'calendar', calendar: @calendar %>
    </div>
  </div>

  <div id="entries_list" class="space-y-2">
    <%= render @calendar.entries.order(:registration_date) %>
  </div>
</div>
