<% title @calendar.title.to_s %>

<div class="container-wrapper py-8">
  <div class="space-y-8" data-controller="entry-modal copy-entries">
    <div class="rounded-xl shadow-xl bg-ochre p-4 md:p-6">
      <section class="rounded-xl bg-dark-ochre px-8 py-6">
        <h1 class="text-xl sm:text-2xl font-extrabold tracking-wide drop-shadow-md">
          <%= @calendar.title %>
        </h1>
      </section>

      <div class="min-h-96 relative prose bg-light-ochre text-gray-700 p-6 md:p-8 rounded-xl mt-6 max-w-full">
        <% if current_user&.admin? %>
          <div class="flex gap-4 absolute top-4 right-4">
            <%= link_to edit_calendar_path(@calendar),
                        class: 'text-dark-ochre hover-pop p-1',
                        title: '編集' do %>
              <i class="fa-solid fa-pen-to-square text-2xl"></i>
            <% end %>

            <%= button_to '#',
                          class: 'text-dark-ochre hover-pop p-1',
                          title: '記事のリンクをコピー',
                          data: { action: 'copy-entries#copy' } do %>
              <i class="fa-solid fa-copy text-2xl"></i>
            <% end %>
          </div>
        <% end %>

        <%= markdown_to_html(@calendar.description) %>
      </div>
    </div>

    <%= turbo_frame_tag 'entry_modal' %>
    <div id="calendar">
      <%= render 'calendar_show', calendar: @calendar %>
    </div>

    <section id="entries_list">
      <%= turbo_frame_tag "entries-page-#{@entries.current_page}" do %>
        <%= render @entries %>

        <% if @entries.next_page %>
          <%= turbo_frame_tag "entries-page-#{@entries.next_page}",
                              src: calendar_path(page: @entries.next_page),
                              loading: :lazy %>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
