<% title @calendar.title.to_s %>

<div class="px-5 bg-gray-200" data-controller="entry-modal copy-entries">
  <div class="flex justify-end">
    <%= link_to '記事のリンクをコピー', '#',
                class: 'bg-blue-800 text-white px-4 py-2',
                data: { action: 'copy-entries#copy' } %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to '編集', edit_calendar_path(@calendar), class: 'bg-blue-500 text-white px-4 py-2' %>
    <% end %>
  </div>

  <div class="bg-gray-400 p-2 mb-4">
    <h1 class="text-3xl font-bold"><%= @calendar.title %></h1>
  </div>

  <div class="prose bg-white mx-auto max-w-full p-2">
      <%= markdown_to_html(@calendar.description) %>
  </div>

  <div class="bg-gray-400">
    <%= turbo_frame_tag 'entry_modal' %>
    <div id="calendar">
      <%= render 'calendar', calendar: @calendar %>
    </div>
  </div>

  <div id="entries_list">
    <%= turbo_frame_tag "entries-page-#{@entries.current_page}" do %>
      <%= render @entries %>

      <%= if @entries.next_page
            turbo_frame_tag "entries-page-#{@entries.next_page}",
                            src: calendar_path(page: @entries.next_page),
                            loading: :lazy
          end %>
    <% end %>
  </div>
</div>
