<% title @calendar.title.to_s %>
<% set_meta_tags description: "#{@calendar.title}の説明と登録された記事一覧を表示します。" %>

<div class="container-wrapper py-8 rounded-xl">
  <div class="space-y-8" data-controller="entry-modal copy-entries">
    <div class="rounded-xl shadow-xl bg-ochre p-4 md:p-6">
      <section class="rounded-xl bg-dark-ochre px-8 py-6">
        <h1 class="text-white text-xl sm:text-2xl font-extrabold tracking-wide drop-shadow-md">
          <%= @calendar.title %>
        </h1>
      </section>

      <div class="flex flex-col min-h-96 relative prose bg-light-ochre text-gray-700 p-6 md:p-8 rounded-xl mt-6 max-w-full">
          <div class="flex gap-4 absolute top-4 right-4">
            <% if current_user&.admin? %>
                <%= link_to edit_calendar_path(@calendar),
                            class: 'hover-pop p-1',
                            title: '編集' do %>
                  <i class="fa-solid fa-pen-to-square text-2xl text-dark-ochre"></i>
                <% end %>
            <% end %>
          </div>

        <%= markdown_to_html(@calendar.description) %>

        <div class="mt-auto">
          <%= button_to '#',
                        class: 'box-style transition hover:scale-105 flex items-center gap-2',
                        data: { action: 'copy-entries#copy' } do %>
            <i class="fa-solid fa-copy text-dark-ochre"></i>
            <span class="text-dark-ochre text-sm">全ての記事のリンクをコピー</span>
          <% end %>
        </div>
      </div>
    </div>

    <%= turbo_frame_tag 'entry_modal' %>
    <div id="calendar">
      <%= render 'calendar_show', calendar: @calendar %>
    </div>

    <section id="entries_list">
      <%= turbo_frame_tag "entries-page-#{@entries.current_page}" do %>
        <%= render @entries %>

        <% if @entries.next_page %>
          <%= turbo_frame_tag "entries-page-#{@entries.next_page}",
                              src: calendar_path(page: @entries.next_page),
                              loading: :lazy %>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
