<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= favicon_link_tag 'android-touch-icon.png', rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/6ec9e18fac.js" crossorigin="anonymous"></script>
  </head>

  <body class="font-notosans min-h-screen flex flex-col bg-[url('background.png')] text-dark-ochre">
    <%= render 'shared/header' %>

    <div id="flash-message" data-turbo-temporary>
      <%= render 'shared/flash' %>
    </div>

    <main class="w-full flex-1">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
