<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= display_meta_tags site: 'Fjord Calendar', reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="max-w-4xl mx-auto min-h-screen flex flex-col">
    <%= render 'shared/header' %>

    <div id="flash-message" data-turbo-temporary>
      <%= render 'shared/flash' %>
    </div>

    <main class="w-full mt-28 px-1 flex-1">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
