<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= display_meta_tags site: 'Fjord Calendar', reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/6ec9e18fac.js" crossorigin="anonymous"></script>
  </head>

  <body class="min-h-screen flex flex-col bg-[url('background.jpg')] text-white">
    <%= render 'shared/header' %>

    <div id="flash-message" data-turbo-temporary>
      <%= render 'shared/flash' %>
    </div>

    <main class="w-full flex-1">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
